body {
	background-color: #111;
}

.header {
	padding: 20px 0 0px;
	background-image: linear-gradient(#FFFBD1, white);
	margin: 0 -15px 0px;
}

.header h1 {
	font-family: 'Pirata One', cursive;
	font-size: 60px;
}

.header p {
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.content {
	background-color: white;
}